body {
  background-color: lightgray;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header,
nav,
main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h1 {
  color: #000;
  font-family: "Droid serif", serif;
  font-style: italic;
  font-size: 40px;
  margin: 10px 0;
}

button {
  display: inline-block;
  width: 100px;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

video {
  border: 1px solid lightgray;
  background-color: #eee;
}
